[2017-08-01 17:19] appcenter[bot] opened #1 "Failed to build with liftoff"
AppCenter failed to build with liftoff. Here is the log:

[code]

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.1.0 release](https://github.com/artemanufrij/webpin/releases/tag/0.1.0)

[2017-08-01 17:19] appcenter[bot] opened #2 "Invalid AppData file"
AppCenter Dashboard ran `appstreamcli validate` on your project's `.appdata.xml` file and
received the following errors:
[code]

---

For more information, see:
- [The AppStream Quickstart Guide](https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html)
- [The AppStream Metadata Specification](https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html)

If you need help

[2017-08-01 19:15] #1 closed

[2017-08-01 19:15] #2 closed

[2017-08-01 20:10] appcenter[bot] opened #4 "Unable to overwrite existing package"
Houston failed to upload your project to the elementary repositories because
a package with the same name and version already exists in the repository.
Please contact a Houston developer for assistance.

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.1.1 release](https://github.com/artemanufrij/webpin/releases/tag/0.1.1)

[2017-08-01 20:12] appcenter[bot] opened #5 "Unable to overwrite existing package"
Houston failed to upload your project to the elementary repositories because
a package with the same name and version already exists in the repository.
Please contact a Houston developer for assistance.

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.1.1 release](https://github.com/artemanufrij/webpin/releases/tag/0.1.1)

[2017-08-02 03:41] btkostner commented on #5
This has been resolved in https://github.com/elementary/houston/pull/506

[2017-08-02 10:19] artemanufrij commented on #5
@btkostner thank you for your support!

[2017-08-02 10:19] #5 closed

[2017-08-02 10:20] #4 closed

[2017-08-06 16:14] danrabbit opened #6 "Screenshots should not include your desktop"
I'm going to mark this release as "needs fixing" because it contains a screenshot of your desktop. Application screenshots should be of your app and have a transparent background.

[2017-08-06 21:10] #6 closed

[2017-08-07 23:56] Hedronmx opened #8 "Notifications?"
Is it possibly to get notification support?

[2017-08-08 00:29] artemanufrij commented on #8
I will check it out..

[2017-08-08 19:48] giovannicaligaris opened #9 "Whatsapp Web support"
I love Webpin but I would like to know if there could be support for whatsapp?

Right now it doesn't work because Webpin builds webapps with Epiphany (or maybe I am wrong).

[2017-08-08 20:01] artemanufrij commented on #9
@giovannicaligaris thank you for your request. Webpin uses webkit (epiphany uses also webkit).

What url are you using for Whatsapp?

[2017-08-08 20:05] giovannicaligaris commented on #9
https://web.whatsapp.com

[2017-08-08 20:06] artemanufrij commented on #9
@giovannicaligaris by the way telegram works very well:
https://web.telegram.org/

[2017-08-08 20:08] giovannicaligaris commented on #9
Yes it does. I tried all of them, Skype web, Spotify Web, Hangouts Web... All of them work well and looks really nice, it's just Whatsapp that doesn't work.

[2017-08-08 20:09] artemanufrij commented on #9
I'm sorry. I guess I can't help you :(

It looks like WhatsUp doesn't support webkit browsers
![bildschirmfoto von 2017-08-08 22 08 21](https://user-images.githubusercontent.com/16517095/29092272-1ef4123a-7c86-11e7-9c91-aeded34bb744.png)

[2017-08-08 20:09] #9 closed

[2017-08-08 20:14] giovannicaligaris commented on #9
Oh well

[2017-08-09 05:10] grvrulz opened #10 "Allow opening links in system's default browser."
What it says in the title. The app should allow opening external links in the system's default browser instead of opening in the sliding thing inside the app itself.

[2017-08-10 14:49] arshubham opened #11 "Unusable settings icon in In-App Browser"
![screenshot from 2017-08-10 20 15 41](https://user-images.githubusercontent.com/14235191/29176342-334e78c2-7e09-11e7-88b3-87134eb9a883.jpeg)

[2017-08-10 18:16] artemanufrij commented on #11
I'm going to change behavior for external links #10 . It should be open in default browser instead webpin

[2017-08-10 19:14] artemanufrij commented on #10
@grvrulz could you test master branch for external link behavior, please?

[2017-08-10 19:28] artemanufrij commented on #11
hey @arshubham, it would be nice if you could test current master branch. I changed "external link" behavior.

[2017-08-11 07:23] grvrulz commented on #10
It works when it recognizes external links. Sometimes it fails to recognize that a link is to another site.

For example I added a web-app for https://grv.rocks for testing, and it failed to recognize some external links there.(But I think that should be another bug, after more testing)

[2017-08-11 10:27] arshubham commented on #11
Thanks for the quick fix. It works as expected. Tested with multiple websites. The current method for opening external links is fine for the external websites, but I think the application should prompt the user when it is about to open apps other than the browser.
For instance I accidentally clicked a mailto: link and it opened Thunderbird after 10 seconds. I kept wondering when did I open the app

[2017-08-11 10:33] artemanufrij commented on #11
@arshubham thank you for your support!

It's a good point about prompt if external link was clicked... I will implement it...

[2017-08-11 10:33] #11 closed

[2017-08-11 10:33] artemanufrij commented on #10
@grvrulz thank you for your support!

[2017-08-11 10:33] #10 closed

[2017-08-11 10:35] arshubham opened #13 "Only show once loading when starting the webapp"
On certain websites like GitHub the events such as selecting a repo or searching shows loading icon for a few seconds till the page is loaded. Similarly it also happens on google when switching from search tab to news tab.
It is very disconnecting to see the loading bar popup again and again. It would be better if it is only shown when the initial web page is loading.

[2017-08-11 11:02] artemanufrij opened #14 "notify if webpin fired external request"
@arshubham what do you think about this notification:
![external request](https://user-images.githubusercontent.com/16517095/29210749-497c6244-7e95-11e7-9a3c-c70224561f2f.png)

[2017-08-11 11:11] artemanufrij commented on #13
@arshubham could you test current master branch, please?

[2017-08-11 13:07] arshubham commented on #13
Looks great. But now it has an issue that if the internet is slow we don't have a feedback that the page is loading. What you can do is add a spinner in the title bar such as in Appcenter.

[2017-08-11 13:09] arshubham commented on #13
You can use the current icon of the application with on the left side of the App Title and change it into the spinner when the page is loading. (see Firefox)

[2017-08-11 13:14] arshubham commented on #14
Notification is fine. However the user must have control over weather to open the application or not like in chrome where the alert box asks for the user permission to open external links. There can be a checkbox in there such that it never shows the notification for a particular protocol.

[2017-08-11 13:31] arshubham opened #15 "Add ability to navigate forward and backward"
Firefox uses Alt+LeftArrow and Alt+RightArrow to navigate forward and backward.

[2017-08-11 13:35] arshubham opened #16 "Add ability to copy link of the current page."
A link icon on the header bar which copies the link of the current page with a click (with toast for successful copy) would be great.

[2017-08-11 17:00] artemanufrij commented on #13
@arshubham please test curren master branch. I've added a spinner into header bar

[2017-08-11 17:04] arshubham commented on #13
It's great. During the initial load it shows two spinners, one in the header and one on the page. I recommend replacing the spinner on the page with App icon giving it a splash screen effect.

[2017-08-11 17:07] arshubham opened #17 "Remember Window size on close"
Each webapp should remember it's window size when last opened.

[2017-08-11 17:30] artemanufrij commented on #13
@arshubham can be tested

[2017-08-11 17:36] artemanufrij commented on #17
webpin saves size information already in `.desktop` file:
here is an example:
[code]

[2017-08-11 18:05] artemanufrij commented on #15
@arshubham can be tested in current master

[2017-08-11 18:07] arshubham commented on #13
Works as expected. But can we have a 64x64 icon if provided by the icon theme and only fallback if unavailable. The current icon looks a little small.
Secondly, is it possible to have transitions with GTK+ between the spash and the main webpage.

[2017-08-11 18:10] arshubham commented on #17
I maximized the current window in the web app and then closed it, but its is still opening it in the original size. Does it also update on every close?

[2017-08-11 18:10] artemanufrij commented on #13
max. size of an icon is 48x48:
https://valadoc.org/gtk+-3.0/Gtk.IconSize.html

do you mean like slide down?

[2017-08-11 18:13] artemanufrij commented on #17
ah.. ok.. I guess I have to save additionaly window state...

[2017-08-11 18:14] arshubham commented on #15
Working as expected. Thanks.

[2017-08-11 18:15] artemanufrij commented on #15
@arshubham thank you for your support!

[2017-08-11 18:15] #15 closed

[2017-08-11 18:17] arshubham commented on #13
Yes, Some tansition like slide down or zoom out.

Some icon themes like Papirus provides with 64x64 icons.
![screenshot from 2017-08-11 23-46-17](https://user-images.githubusercontent.com/14235191/29226365-62f8430a-7eef-11e7-949f-b4c889b0843a.png)

[2017-08-11 18:33] arshubham opened #18 "Can't refreash the page with F5 or Ctrl+F5"

[2017-08-11 18:45] artemanufrij commented on #13
@arshubham  "splash screen" slide up can be tested....

[2017-08-11 18:49] artemanufrij commented on #18
@arshubham can be tested :)

[2017-08-11 18:51] arshubham commented on #18
Works. Thanks.

[2017-08-11 18:52] arshubham commented on #13
Looks nice, but you slow it down a little. It's too fast.

[2017-08-11 18:52] #18 closed

[2017-08-11 18:59] artemanufrij commented on #13
@arshubham done

[2017-08-11 19:03] arshubham commented on #13
It's perfect.

[2017-08-11 19:04] artemanufrij commented on #13
@arshubham Thank you for your support!

[2017-08-11 19:04] #13 closed

[2017-08-11 19:16] artemanufrij commented on #17
@arshubham can be tested

[2017-08-12 06:53] arshubham commented on #17
It works perfectly. Thanks.

[2017-08-12 08:52] artemanufrij commented on #17
Thank you @arshubham !

[2017-08-12 08:52] #17 closed

[2017-08-13 10:43] jvalle3 opened #19 "Support for whatsapp web"
Is there any way to make webpin work with https://web.whatsapp.com/??

[2017-08-13 12:01] artemanufrij commented on #19
@jvalle3 it was already discussed in #9 ... WhatsApp doesn't support browsers based on webkit.

[2017-08-13 12:01] #19 closed

[2017-08-13 14:27] artemanufrij commented on #19
Try to open web.whatsapp.com in Epiphany... It has same issue :(

[2017-08-14 14:36] jvalle3 opened #20 "Not working with certain URL"
I tried to use webpin to create a launcher for the url:
https://calendar.google.com/calendar/render#main_7%7Cmonth
And then tried to launch the generated launcher from the menu or from Plank, with no result.
Surprisingly, it works well when i open webpin and launch the website from there.

[2017-08-14 14:44] jvalle3 commented on #20
I was testing and any url with the % character has the same issue

[2017-08-14 15:48] rhoconlinux opened #21 "Fix screenshot type-o in appcenter"
Hey! Nice work,
I noticed that there is a type-o in the elementary app center, particularly in the screenshot of the app. It should say Available instead of what it says.

Cheers!

[2017-08-14 16:30] artemanufrij commented on #21
nice catch! thank you! I've fixed it in current master.

[2017-08-14 16:30] #21 closed

[2017-08-14 17:34] artemanufrij commented on #20
@jvalle3 could you test current master branch, please? You should recreate affected webapp in webpin

[2017-08-14 18:32] artemanufrij commented on #14
I'm going ot close this issue. We need a separate issue for properties/notification etc.

[2017-08-14 18:32] #14 closed

[2017-08-14 19:03] ruslankonev opened #22 "Support favicons of web-pages"
for make different apps

[2017-08-14 19:09] arshubham commented on #19
User agent be changed in epiphany.
https://askubuntu.com/questions/472861/how-to-change-the-user-agent-in-gnome-web-epiphany#488555
Can't a similar solution work in this case.

[2017-08-14 19:28] artemanufrij commented on #19
@arshubham I've tested it already, but it the response: ?missing=**cryptoSha256**,**cryptoAesCbc** in the url

[2017-08-14 22:35] artemanufrij commented on #20
Fix is already released :)

[2017-08-14 22:35] #20 closed

[2017-08-15 07:55] peteruithoven opened #23 "Icons in wingpanel not found?"
Awesome app!
One minor issue, the icons I selected aren't showing up in my applications-menu.
![screenshot from 2017-08-15 09 47 39](https://user-images.githubusercontent.com/523210/29306701-174244f8-819f-11e7-8be9-55e553bcc515.png)
They work perfectly in Plank:
![screenshot from 2017-08-15 09 50 11](https://user-images.githubusercontent.com/523210/29306717-245040f0-819f-11e7-99ea-bde1a872b02f.png

[2017-08-15 14:42] artemanufrij commented on #23
@peteruithoven Thank you for your support!

I'm going to close this issue because it's not a webpin issue. But I've already pulled a request for fixing this behavior in "application-menu" here: https://github.com/elementary/applications-menu/pull/37

[2017-08-15 14:42] #23 closed

[2017-08-15 14:51] peteruithoven commented on #23
Great! Thanks for looking into it so quickly.

[2017-08-15 19:01] artemanufrij commented on #8
ok, notifications are working on my dev version except the icon. Notification shows always "webpin" icon instead custom icon (desktop). Anyway, I will pull it today into master branch. I will fix it later - after holidays.

[2017-08-15 19:42] artemanufrij commented on #8
@Hedronmx could you test curren master branch please?

[2017-08-15 21:13] Hedronmx commented on #8
Sure thing! Notifications seem to work. The only thing missing is the custom icon, which you already stated. >:D

[2017-08-15 21:22] Hedronmx commented on #8
Sorry for double post.
The app keeps asking for notification access everytime I close the app. If I open the app I grant notification access on the website (www.getflow.com) I get notifications, next time i open the app I need to grant the notification access again, if not, no notifications appear.

[2017-08-16 00:56] artemanufrij commented on #8
Could you test this site with Epiphany?

[2017-08-16 00:59] Hedronmx commented on #8
Same problem as described, need to allow access every time I re launch epipahny

[2017-08-16 01:00] artemanufrij commented on #8
I guess it's a webkit issues...

[2017-08-16 01:01] Hedronmx commented on #8
:/ dang webview, always ruining things! Well... Thanks!

[2017-08-16 05:18] arshubham opened #24 "No icon in the notification"

[2017-08-16 05:19] arshubham opened #25 "Allow clearing Cookies and cleaning login info from webpin interface"
This will effectively reset the application to initial state.

[2017-08-16 05:23] arshubham opened #26 "Always on Webapps"
This will be useful when using webapps for slack or telegram.  A webapp that instead of closing remains in the wingpanel and can provide notifications to the user.
It will help getting rid of many electron wrappers for websites.
The webapp should also start automatically minimized at startup.

[2017-08-16 05:25] arshubham commented on #24
closing this as already answered in #8

[2017-08-16 05:25] #24 closed

[2017-08-16 07:04] pamarsan opened #27 "Zoom support"
Hey! I really like this app, but I miss one feature: zoom support. Would it be posible to implement some kind of "ctrl++ or ctrl+-" zoom control and make each individual webapp to remember its own default zoom level? Thank you very much!

[2017-08-16 17:28] artemanufrij commented on #27
@pamarsan could you test current master branch, please? ctrl+0 reset zoom factor

[2017-08-16 17:48] pamarsan commented on #27
Agh sorry not using currently eOS on my machine (i just remembered it and opened this issue) so cannot help in that. Sorry mate 😬

[2017-08-16 17:52] #27 closed

[2017-08-17 14:07] rstreeter opened #28 "Question"
I was wondering if it is possible to make a build for systems other than Elementary. I was wanting to build a debian package or just build and install it. If this is possible it would be awesome to know how.

Thank you

[2017-08-23 19:25] artemanufrij commented on #28
clone this repository:
`git clone https://github.com/artemanufrij/webpin.git`
`cd webpin`
Make a build folder
`mkdir build`
`cd build`
if some packages have an error... install it
`cmake -DCMAKE_INSTALL_PREFIX=/usr ..`
`make`
install it on your system
`sudo make install`

[2017-08-23 19:26] #8 closed

[2017-08-29 04:37] Hedronmx opened #30 "The app title bar turned black..."
I openned up a link within webpin and the titlebar turned black.
http://imgur.com/a/6sIkL

[2017-08-29 13:04] arshubham opened #31 "Create webapps with firefox"
Just like ICE from peppermint os gives option to create apps from with firefox and chrome

https://github.com/peppermintos/ice

https://github.com/peppermintos/ice/blob/master/usr/bin/ice-firefox

[2017-08-29 18:30] harisvsulaiman commented on #26
@arshubham Even though I'm assuming WebKit to be light weight, how is this better than electron app?

[2017-08-30 06:21] arshubham commented on #26
@harisvsulaiman You are right. It will be light weight. I use it for some websites like slack. I currently have to open it up and check it regularly for any new messages. Coupled with notification support they can completely replace electron webapps. And I have noticed a great amount of overheating when using electron apps.  Further you will not have to depend on someone to create a Electron wrapp

[2017-09-02 22:56] artemanufrij commented on #26
@arshubham could you test current master branch, please? I've added an option:
![screenshot from 2017-09-03 00 49 45](https://user-images.githubusercontent.com/16517095/29999286-ba504828-9042-11e7-9754-ad5eb546c911.png)

[2017-09-03 07:36] arshubham commented on #26
It works as expected. But there should be an indicator that the application is running in the background. Such as a panel icon. If possible, you can also add a option to add the app in startup applications.

[2017-09-03 10:04] artemanufrij commented on #26
Gnome removes tray icons:
http://www.omgubuntu.co.uk/2017/09/will-you-miss-gnome-legacy-tray

[2017-09-03 10:12] #28 closed

[2017-09-03 11:52] arshubham commented on #26
OK. Can one of these solutions be implemented.
1. Keep the app running in the background in plank. (i.e. instead of closing it ,minimize it.) Keeweb does it (Although it is an electron application)
2. Desktop Applet like in https://github.com/danrabbit/nimbus which shows all the background apps with no of notifications.

[2017-09-03 17:05] harisvsulaiman commented on #26
It's high time we build a notification center for elementary os with
support for persistent notifications like in android.
The current one is too buggy.

On Sun, 3 Sep 2017 at 17:22 Shubham Arora <notifications@github.com> wrote:

--

Harisvsulaiman.

[2017-09-03 17:10] artemanufrij commented on #26
I think it's useful to have an option to pin directly in WebApp.

![screenshot from 2017-09-03 19 08 03](https://user-images.githubusercontent.com/16517095/30005098-53863ff0-90db-11e7-8612-4ef86f67a295.png)

[2017-09-03 19:20] artemanufrij commented on #30
I've removed dynamic color for header bar. Could you test current master branch, please?

[2017-09-04 17:12] artemanufrij commented on #30
fix already released

[2017-09-04 17:12] #30 closed

[2017-09-04 17:13] artemanufrij commented on #26
fix already released

[2017-09-04 17:13] #26 closed

[2017-09-07 09:02] peteruithoven opened #32 "Pin icon missing?"
I understand from [this](https://github.com/artemanufrij/webpin/issues/26#issuecomment-326817788) comment there should be a pin icon here:
![screenshot from 2017-09-07 10 56 52](https://user-images.githubusercontent.com/523210/30154932-bebb5e80-93bb-11e7-999c-1fcf95113218.png)

Anything I can do to track down what might be going wrong?

I'm running Webpin 0.1.7 on Elementary OS Loki

[2017-09-07 11:36] arshubham opened #33 "Option to minimize on close"
an option to minimize on close when pin is enabled will make this app just perfect.

[2017-09-07 13:47] arshubham opened #34 "Multiple Notification"
When using telegram with webpin. For every message I get, two notifications -- One from telegram and one from webpin. There should be options to block notifications from webpin as well as block notifications all together for a webapp.

[2017-09-07 18:05] artemanufrij commented on #34
@arshubham could you check current master branch, please? I've added a mute option:
![mute](https://user-images.githubusercontent.com/16517095/30178027-e7b14f74-9407-11e7-9fdb-eead7cc1538f.png)

[2017-09-07 19:01] apcamargo commented on #32
I'm getting the same problem

[2017-09-07 19:06] artemanufrij commented on #32
could you check pls, if you have `view-pin-symbolic.svg` in `/usr/share/icons/elementary/actions/symbolic/`?

![screenshot from 2017-09-07 21 03 55](https://user-images.githubusercontent.com/16517095/30180429-2cd92e16-9410-11e7-99b3-8666ed2dd76e.png)

[2017-09-07 19:34] apcamargo commented on #32
I don't have it

[2017-09-07 19:35] artemanufrij commented on #32
Hm... It's a system icon :confused:

[2017-09-07 19:46] artemanufrij commented on #32
Oh.. I see. It was added 2 month ago. Actual it exists only on daily repo. :confused:

[2017-09-07 19:47] artemanufrij commented on #32
https://github.com/elementary/icons/commits/master/actions/symbolic/view-pin-symbolic.svg

[2017-09-08 07:05] arshubham commented on #34
It works perfectly! On a side note shouldn't the mute option be enabled by default as the webapps which need notifications simply ask for them.

[2017-09-08 07:07] arshubham opened #35 "Open webapp from notifiaction."
Open Webapp app on notification click or bring it to the top. Same behavior as any other elementary app

[2017-09-08 07:08] arshubham opened #36 "Show notifications for apps not on the top."
Currently when using telegram, if it is minimized or not on the top, no notification is shown.

[2017-09-10 09:11] artemanufrij commented on #34
@arshubham I think we shoud remove "mute" option from webpin. It makes no sence to enable/disable it in the application (Slack/Telegram/etc) and additionaly in webpin.

[2017-09-10 09:48] artemanufrij commented on #36
I can't reproduce it. It works in my system in all cases.

[2017-09-10 10:10] arshubham commented on #36
Give me a few hours, I will try it again. Wasn't working for me earlier.

[2017-09-10 20:52] artemanufrij commented on #35
@arshubham could you test current master branch, please?

[2017-09-10 20:54] artemanufrij commented on #34
already merged into master branch

[2017-09-10 20:54] #34 closed

[2017-09-11 11:07] arshubham commented on #36
This works now. Thanks

[2017-09-11 11:07] #36 closed

[2017-09-11 11:08] arshubham commented on #35
I tested it. It only works if the application is minimized but not if it is running in background (pinned) .

[2017-09-28 00:13] apcamargo opened #38 "Add button to disable notifications"
It'd be nice to have a button in the titlebar that disables notifications, just like the one to enable the app to run in the background.

[2017-10-05 17:00] artemanufrij commented on #32
Newst icon set was shipped today

![bildschirmfoto von 2017-10-05 18 59 45](https://user-images.githubusercontent.com/16517095/31240008-63722fea-a9ff-11e7-8483-e8d0d9c9a62e.png)

[2017-10-05 17:00] #32 closed

[2017-10-09 21:42] artemanufrij commented on #38
@apcamargo thank you for your feedback. we descussed about it in #34. you should mute notifications in settings of application.

[2017-10-09 21:42] #38 closed

[2017-10-15 01:59] peteruithoven commented on #23
Looks like this has been fixed:
![screenshot from 2017-10-15 03-56-07](https://user-images.githubusercontent.com/523210/31580910-1ccee1fe-b15d-11e7-931c-70b31c5423ad.png)
![screenshot from 2017-10-15 03-56-37](https://user-images.githubusercontent.com/523210/31580911-1d203680-b15d-11e7-8a6a-4c8c7bde76f0.png)

[2017-10-15 06:05] snowparrot opened #39 "use a single click on welcome screen"
It is very confusing to use a double click to open an app on welcome screen.
Instead webPin should use a single click to open an app.

This behaviour is more consistent with files behaviour in opening an "file"
and opening an app in the application starter.

[2017-10-15 06:19] snowparrot opened #40 "changing the name after adding the web app"
At the moment it isn't possible to change after I add an app.

Expected behaviour: I can change the name whenever I want to.

[2017-10-15 06:21] snowparrot opened #41 "Can't open external links on Google Inbox"
Though adding Google Inbox doesn't cause any problems I can't open any external links. Just the message "Opening external link..." appears.

[2017-10-15 17:27] artemanufrij commented on #16
hey @arshubham could you test current master branch please?

![bildschirmfoto von 2017-10-15 19 25 47](https://user-images.githubusercontent.com/16517095/31587261-e167539e-b1de-11e7-8459-62f352637c7a.png)

[2017-10-15 17:35] arshubham commented on #16
Works great. However I have a few suggestions.
1. The icon looks more like for copying a file rather than a link . Maybe something like attachment icon (see GitHub editor) or Copy link icon used in Firefox 57+ page action menu.
2. A link copy feedback similar to used in firefox 57+

[2017-10-15 17:39] artemanufrij commented on #16
@arshubham look into `/usr/share/icons/elementary/actions/symbolic/` which icon do you mean?

[2017-10-15 17:42] arshubham commented on #16
insert-link-symbolic.svg

[2017-10-15 17:45] artemanufrij commented on #16
done

[2017-10-15 17:46] artemanufrij commented on #16
I would implement feedback like "external link" but auto close is currently broken. So I have to wait for fixing it. Than I will implement it.

[2017-10-15 17:58] artemanufrij commented on #39
Was shipped with last version.

[2017-10-15 17:58] #39 closed

[2017-10-15 17:58] artemanufrij commented on #16
Was shipped with last version. (is currently waiting for human testing)

[2017-10-15 17:58] #16 closed

[2017-10-16 09:23] peteruithoven opened #42 "Some sites don't fully load"
I have turned my [Nextcloud](https://nextcloud.com/) instance's [Calendar](https://apps.nextcloud.com/apps/calendar) and [Contacts](https://apps.nextcloud.com/apps/contacts) apps into 2 webpins.
But for some reason when first starting them in a webpin they don't finish loading. This happens consistently when I don't enable 'Run in background when closed'.

These pages load fine on webbrowsers like

[2017-10-18 11:24] grvrulz opened #43 "Allow setting custom headerbar color per-webapp"
This will really help with having these apps integrate with the browser shell. The colors can either be picked from a pre-determined pallette, or from the web-app's page(or just any custom color).

[2017-11-02 18:56] cassidyjames opened #45 "Notifications sometimes open wrong web app"
I have Slack and Mattermost web apps added, and frequently I get a Mattermost notification, click it, and it focuses the Slack web app.

[2017-11-02 18:56] cassidyjames commented on #43
As a default, it could pick up the meta theme color https://developers.google.com/web/fundamentals/design-and-ux/browser-customization/#meta_theme_color_for_chrome_and_opera

[2017-11-02 19:02] artemanufrij commented on #45
Hm.... will check it... Thanks for feedback :+1:

[2017-11-07 23:15] CyberManifest opened #46 "Twitch doesn't play video"
Twitch (https://www.twitch.tv/) won't load video in a Webpin... neither will Netflix.

[2017-11-08 18:02] jos-henson opened #47 "High CPU use (webkitprocess)"
Hi there, first of all, I absolutely love this app, is even better than the Freya app Webby which I missed for a long time until this came along!

Unfortunately, recently I have had some issues with the app using very high levels of my CPU, which kicks in the fan on my laptop every 30 seconds or so.

Specifically, after running TOP the process responsible is Webkitprocess (screenshot attached).

I

[2017-11-08 22:14] artemanufrij commented on #45
@cassidyjames could you test current master branch please? I should be installed before starting.

[2017-11-08 22:15] artemanufrij commented on #43
@grvrulz  could you test current master branch please? I should be installed before starting. As first I added a button in the edit view.
![bildschirmfoto von 2017-11-08 23 12 03](https://user-images.githubusercontent.com/16517095/32577569-a80ae9c6-c4da-11e7-9cfa-7097def493a3.png)

[2017-11-12 05:18] grvrulz commented on #43
@artemanufrij The colors work great :)

The next step might be to calculate the contrast, and switch to white text and icons in the headebar. Please also consider fetching the meta theme color as suggested by @cassidyjames .

[2017-11-12 11:04] jos-henson commented on #47
Thanks for agreeing to look into this. I'm running Webpin on multiple machines and use it for multiple different websites, so if there is any additional infromation or debug logs I can provide that would be helpful please let me know.

Would it be helpful to also file a bug with Webkit?

[2017-11-15 14:26] guilmour-asc opened #48 "Desktop Icon's parameters not used"
Hello. I'd like to inform an issue.

I think the Webpin parameters (on the desktop icon) are not being used. The GIF illustrates that...

![peek 15-11-2017 12-19](https://user-images.githubusercontent.com/26415345/32840837-f24505ba-c9ff-11e7-8042-4bdfbec12a56.gif)

I still don't know if this problem occurs with someone else, beyondme, you know...
Thanks for the attention.

[2017-11-18 21:40] appcenter[bot] opened #49 "Missing changelog information"
AppCenter had some issues with your GitHub release changelog. We tried to fix
them as best we can, but you should make note about fixing them for your next
release.

- Missing list of changes

Please format your [GitHub release](https://github.com/artemanufrij/webpin/releases/tag/0.1.14)
body with a list of changes. AppCenter will use this to fill in all the needed
changelog information.

If you n

[2017-11-18 22:26] appcenter[bot] opened #50 "Missing changelog information"
AppCenter had some issues with your GitHub release changelog. We tried to fix
them as best we can, but you should make note about fixing them for your next
release.

- Missing list of changes

Please format your [GitHub release](https://github.com/artemanufrij/webpin/releases/tag/0.2.0)
body with a list of changes. AppCenter will use this to fill in all the needed
changelog information.

If you ne

[2017-11-18 22:28] appcenter[bot] opened #51 "Missing changelog information"
AppCenter had some issues with your GitHub release changelog. We tried to fix
them as best we can, but you should make note about fixing them for your next
release.

- Missing list of changes

Please format your [GitHub release](https://github.com/artemanufrij/webpin/releases/tag/0.2.0)
body with a list of changes. AppCenter will use this to fill in all the needed
changelog information.

If you ne

[2017-11-18 22:28] appcenter[bot] opened #52 "Unable to overwrite existing package"
Houston failed to upload your project to the elementary repositories because
a package with the same name and version already exists in the repository.
Please contact a Houston developer for assistance.

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.2.0 release](https://github.com/artemanufrij/webpin/releases/tag/0.2.0)

[2017-11-20 14:24] guilmour-asc commented on #48
Hey, sup. It works, now... :smile:

[2017-11-20 15:16] artemanufrij commented on #48
@guilmour-asc thank you for your feedback!

[2017-11-20 15:16] #48 closed

[2017-11-20 15:17] #49 closed

[2017-11-20 15:17] #50 closed

[2017-11-20 15:17] #51 closed

[2017-11-20 15:17] #52 closed

[2017-11-21 07:47] #45 closed

[2017-11-25 11:02] artemanufrij commented on #43
@cassidyjames I don't found any website which uses `apple-mobile-web-app-status-bar-style` or `theme-color` (in desktop mode). tested: youtube, github etc.

[2017-11-26 13:08] artemanufrij commented on #43
@grvrulz current master branch has implemented `theme-color`. could you test it please?

[2017-12-17 08:37] GreenRobot777 opened #55 "Focus is lost after keymap was changed (ru/us, for example)"
Focus is lost after keymap was changed (ru/us, for example).

There is not such issues on the same site in Google Chrome.

Webpin: `0.1.9`
GNU/Linux: `elementary OS 0.4.1 Loki`

[2017-12-17 13:52] artemanufrij commented on #55
@GreenRobot777 will check it when I'm back home

Thanks for feedback

[2017-12-28 20:22] apcamargo opened #56 "Fetch the iOS icon"
Many websites provide a high resolution icon intended to be used in iOS. It would be useful if Webpin could get these icons automatically.

https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html

[2018-01-31 21:33] LunkRat commented on #56
+1

[2018-02-04 17:20] artemanufrij commented on #56
@apcamargo , @LunkRat  if you want, you can test current master branch. I just implemented this function

[2018-02-04 17:22] artemanufrij commented on #43
I'm going to close this issue. `them-color` was implemented into current master branch.

[2018-02-04 17:22] #43 closed

[2018-02-04 17:22] artemanufrij commented on #22
@ruslankonev could you test current master branch please?

[2018-02-05 08:49] ruslankonev commented on #22
Yes, now app show icon, but low res. As example — https://bitcoinnews.blog. It is possible parse available icons and set hi-res icon?

[2018-02-05 09:54] artemanufrij commented on #22
@ruslankonev thanks for feedback. I will check it out

[2018-02-05 18:48] artemanufrij commented on #22
@ruslankonev could you test current master branch, please?

[2018-02-05 18:52] artemanufrij commented on #22
![bildschirmfoto von 2018-02-05 19 49 42](https://user-images.githubusercontent.com/16517095/35822898-05129704-0aae-11e8-971c-90692ac29237.png)

[2018-02-06 12:16] ruslankonev commented on #22
@artemanufrij, that strange, but I got the same — low-res:
![image](https://user-images.githubusercontent.com/2588730/35859339-b4d52ccc-0b50-11e8-899e-8b61de28b592.png)

[2018-02-06 12:33] artemanufrij commented on #22
@ruslankonev fix was not released yet. You can test it directly from github. You should build it manually.

[2018-02-06 12:56] ruslankonev commented on #22
Ah, ok! yes, now it's work

[2018-02-06 13:00] artemanufrij commented on #22
thanks you for your feedback. I'm going to close this issue and release new Version in the next few days.

[2018-02-06 13:00] #22 closed

[2018-02-07 10:56] DubininDmitry opened #57 "Keyboard shortcuts don't work"
if you use a different keyboard layout (for example, Russian keyboard), keyboard shortcuts do not work.

[2018-02-07 12:20] artemanufrij commented on #57
@DubininDmitry thanks for feedback. I will check it in next few days.

[2018-02-11 11:31] jlnr opened #58 "Support for back/forward keys (typically mouse button 4/5)"
This app is great :) Thanks! valadoc.org looks fantastic in it.

Feature request: Most elementary apps can be navigated with mouse buttons or keys that are mapped to [XF86Back and XF86Forward](http://wiki.linuxquestions.org/wiki/XF86_keyboard_symbols). It would be great if this also worked in apps created using Webpin.

[2018-02-11 11:39] artemanufrij commented on #58
@jlnr currently you can do that by press <ALT> + LEFT/RIGHT. But I think your suggestion is very useful. Give me a moment :+1:

[2018-02-11 11:50] jlnr opened #59 "Feature request: Resize fully opaque favicons"
The icon generated by webpinning valadoc.org looks too large in the elementaryOS dock. It would be awesome if webpin could detect fully/mostly opaque icons and shrink them to fit in better with the 'weight' of stock app icons. Maybe fully opaque icons could even have an automatic corner radius applied.

[2018-02-11 12:01] artemanufrij commented on #58
@jlnr in my case they are 8/9

[2018-02-11 12:07] artemanufrij commented on #58
@jlnr could you test current master branch please?

[2018-02-11 12:11] jlnr commented on #58
Wow, that was quick :) Right now `mkdir build && cd build && cmake ..` is choking on this:

[code]

Will try to work around this by setting env vars...

[2018-02-11 12:17] jlnr commented on #58
Back works, forward doesn't.

[2018-02-11 12:20] jlnr commented on #58
I've just looked at the source code and I wonder if my mouse is to blame. I had to remap my fifth mouse button to XF86Forward because by default it is mapped to something silly. This mapping works fine throughout elementaryOS, including Epiphany, but maybe it's throwing off the JavaScript button numbers?

[2018-02-11 12:23] artemanufrij commented on #58
@jlnr I don't know... I use some Logitech and Dell mouse devices without modifying it. And it works fine in all browsers and other apps like `Files`. :man_shrugging:

[2018-02-11 12:40] jlnr commented on #58
Ah, got it. Mice usually send button 8/9. However, there are also Gdk *key* constants for Back/Forward navigation (I assume for [monstrosities like this](http://www.dansdata.com/images/globlink/multimedia_fn_1280.jpg)), and that's what I've mapped my mouse button to.

So if I add this in addition to the button_press handler, everything works for me:

[code]

Obviously I should also reconsider the

[2018-02-11 12:41] artemanufrij commented on #58
let me try it...

[2018-02-11 12:44] artemanufrij commented on #58
@jlnr `Gdk.Key.Back` doesn't work. Its value is 269025062 :confused:

[2018-02-11 12:46] jlnr commented on #58
Yes, I had to set the key_press_event handler in addition to button_press_event (from your commit).

[2018-02-11 12:49] artemanufrij commented on #58
I see.. good point! I pushed it into current master

[2018-02-11 12:58] jlnr commented on #58
Great, thanks!

[2018-02-11 12:58] #58 closed

[2018-02-11 13:03] artemanufrij commented on #58
@jlnr thank you for your support! New release is waiting for approve...

[2018-02-11 18:07] harisvsulaiman opened #60 "Support Webgl"
Hi, @artemanufrij
Great work on webin BTW, I ran into an issue running figma as a webpin app.
It seems like webkit under the hood of webpin does not have webgl enabled by default, Is there a way to enable it or if it's supported.

![image](https://user-images.githubusercontent.com/29329325/36076599-5dfd2cfa-0f84-11e8-9a61-2a1deff7744e.png)

[2018-02-11 18:23] artemanufrij commented on #60
@harisvsulaiman let me take a look

[2018-02-11 19:22] appcenter[bot] opened #61 "Unable to overwrite existing package"
Houston failed to upload your project to the elementary repositories because
a package with the same name and version already exists in the repository.
Please contact a Houston developer for assistance.

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.2.7 release](https://github.com/artemanufrij/webpin/releases/tag/0.2.7)

[2018-02-11 19:33] artemanufrij commented on #60
@harisvsulaiman could you check current master branch?

[2018-02-11 19:52] artemanufrij commented on #60
just tested it wit a game and it works:
![bildschirmfoto von 2018-02-11 20 51 35](https://user-images.githubusercontent.com/16517095/36077618-6c257786-0f6d-11e8-956d-fcddeda3f0a1.png)

[2018-02-12 07:11] harisvsulaiman commented on #60
@artemanufrij Unfortunately webkit or chrome doesn't detect my settings. But i can enable webgl in chrome forcefully and it works beautifully.

This was not an issue at your end.
Thanks BTW,

[2018-02-14 09:40] joedborg opened #62 "Ability to spoof agent header"
Hey all,

I think this would be a good feature as sites like Whatsapp don't work - they just ask you to go download Chrome, Firefox, Edge etc.

Thanks,
Joe

[2018-02-15 17:39] harisvsulaiman commented on #60
It seems like like webgl gets turned off sometimes. i can now get figma working but the view is blacked out
![image](https://user-images.githubusercontent.com/29329325/36271655-4135f39e-12a5-11e8-9e8a-b558429bbf81.png)

Can you try out figma.com?

[2018-02-15 19:29] artemanufrij commented on #60
@harisvsulaiman will do...

[2018-02-16 16:08] micahilbery opened #63 "Notifications show up in "Other" category"
It would be nice if notifications showed up under webpin (or the specific web app if possible). This would allow control over the notifications from the notifications settings panel in switchboard.

**Context:**
Right now I have notifications in the "Other" category set to not show up in the notification indicator because I have third-party music apps that throw one up there every time the song ch

[2018-02-20 05:36] grvrulz commented on #62
This can also be helpful for opening things with a mobile user agent.(e.g. Instagram or similar)

[2018-02-20 07:12] artemanufrij commented on #62
Will check it tonight :+1:

[2018-02-20 18:07] artemanufrij commented on #62
@joedborg @grvrulz I changed useragent `Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/64.0.3282.140 Chrome/64.0.3282.140 Safari/537.36` but whatsapp doesn't work yet

[2018-02-20 18:13] artemanufrij commented on #62
![bildschirmfoto von 2018-02-20 19 13 08](https://user-images.githubusercontent.com/16517095/36441189-27f29be6-1672-11e8-88cb-8a567e341ffc.png)

[2018-02-20 19:48] artemanufrij commented on #60
@harisvsulaiman I can't sing in. it opens always external browser window :confused:

[2018-02-20 19:58] artemanufrij commented on #62
I found this tweet about WA:
https://twitter.com/gnomeweb/status/900727025937383424?lang=de

[2018-02-20 20:07] harisvsulaiman commented on #60
Hi @artemanufrij
Try signing in using username and password

[2018-02-20 20:22] artemanufrij commented on #60
@harisvsulaiman it looks like a webkit bug. epiphany can't also show it:
![bildschirmfoto von 2018-02-20 21 19 03](https://user-images.githubusercontent.com/16517095/36447223-f9c10048-1683-11e8-92ac-1fbb9364995f.png)

[2018-02-20 20:40] harisvsulaiman commented on #60
@artemanufrij updated WebKit?

[2018-02-20 20:42] artemanufrij commented on #60
@harisvsulaiman current one in elementary repos (0.4.1 stable)

[2018-02-22 16:05] artemanufrij commented on #63
hey @micahilbery thanks for feedback

All created apps has "Categories=Network;" in them .desktop files...
Or misunderstood I something?

[2018-02-22 16:43] micahilbery commented on #63
The launcher shows up in the network category but the notifications show up in the other category in notification settings meaning that the notifications from webpin apps won't show up in the notification center.
![screenshot from 2018-02-22 10 24 11](https://user-images.githubusercontent.com/10608836/36551440-2ec9cd08-17bd-11e8-9a0f-5d8526229420.png)

[2018-02-22 16:45] artemanufrij commented on #63
ah! ok.. I see...

[2018-02-22 18:35] artemanufrij commented on #63
@micahilbery could you test current master branch please? but exists apps must be recreated....
![bildschirmfoto von 2018-02-22 19 32 51](https://user-images.githubusercontent.com/16517095/36557078-850cd7e2-1807-11e8-8d2a-d781774b4061.png)

[2018-02-22 19:39] micahilbery commented on #63
![gifout](https://user-images.githubusercontent.com/10608836/36560196-b93d6a36-17d5-11e8-819d-fb9ad1848d1e.gif)
**(sorry for the super crappy gif)**. I built master from source and then recreated the app and as you can see it shows up in the notification settings panel but none of the settings actually work. It didn't add to the notification panel indicator, the sounds still played when I turned o

[2018-03-07 20:51] cassidyjames opened #64 "Add `default-decoration` class to headerbar"
This makes it slimmer, like Terminal.

![screenshot from 2018-03-07 13 51 06 2x](https://user-images.githubusercontent.com/611168/37117479-9bda7b8a-220e-11e8-83e0-135e1c04e14d.png)

[2018-03-07 20:57] cassidyjames commented on #33
The app has a "run in background" option that keeps the web process open, but closes the window. That's effectively the same without using a metaphor that is being moved away from in both GNOME and elementary OS.

[2018-03-07 20:58] cassidyjames commented on #31
This wouldn't allow the app to do its handy features like controlling the titlebar, running in the background, having a copy link feature, etc. I don't think it makes sense for this app.

[2018-03-07 21:08] artemanufrij commented on #31
aggree with @cassidyjames

[2018-03-07 21:08] #31 closed

[2018-03-07 21:16] arshubham commented on #33
@cassidyjames Run in background also removes the app from the plank. Moreover the app is not focused on clicking the notification i.e. it doesn't open the app when it is in background.

[2018-03-08 07:02] arshubham commented on #31
@artemanufrij I understand. Thanks for consideration. Maybe someday firefox will implement something similar.

[2018-03-08 20:11] #64 closed

[2018-03-19 21:33] artemanufrij commented on #62
hey guys, WhatsApp (as example) works on JUNO. I'm going to close it because I can't fix it on LOKI

![bildschirmfoto von 2018-03-19 22 30 57](https://user-images.githubusercontent.com/16517095/37623550-606165da-2bc5-11e8-9795-5bfbe89a79d1.png)

[2018-03-19 21:33] #62 closed

[2018-03-19 21:41] artemanufrij commented on #60
@harisvsulaiman I think I can't fix it. It looks like a WeKit bug. I tested it on JUNO and it also doesn't work.

[2018-03-19 21:43] artemanufrij commented on #56
Icon fetching was implemented and released

[2018-03-19 21:43] #56 closed

[2018-03-20 04:33] harisvsulaiman commented on #60
Ok, Maybe fixed in the next release of WebKit.

[2018-03-20 07:54] artemanufrij commented on #60
I hope so. I'm going to close this issue because I can't fix it.

[2018-03-20 07:54] #60 closed

[2018-03-27 15:16] Ice-Cat opened #67 "Figma"
I added a Figma app. But this web application refuses to work in Webpin.
![2018-03-27 18-11-00](https://user-images.githubusercontent.com/26859443/37976484-466c281a-31ea-11e8-8799-eaf5e84d04e6.png)
![2018-03-27 18-10-13](https://user-images.githubusercontent.com/26859443/37976485-469319f2-31ea-11e8-8e53-bf075fa587ae.png)
Thank you in advance

[2018-03-27 16:30] artemanufrij commented on #67
@Ice-Cat thank you for your feedback. But I can't fix it. Webpin uses webkit and webkit can't open Figma web site. Epiphani can't also open it. I hope it will be fixed in next webkit version.

[2018-03-27 16:30] #67 closed

[2018-04-20 18:43] bgcarlisle opened #69 "Opening again after "run in background if closed" puts window in centre of screen"
To reproduce error:

* Add app to dock
* Open web app
* Place where you want it on your screen (not in the centre)
* Click "Run in background if closed"
* Close window
* Click app icon in dock

The window is no longer where you left it. It has been centred.

[2018-04-20 18:44] bgcarlisle commented on #69
Obligatory comment on issue number:

NICE

[2018-04-20 19:14] artemanufrij commented on #69
@bgcarlisle should be fixed in current master branch. could you test it please?

[2018-04-20 19:15] bgcarlisle commented on #69
No, sorry, I don't know how to do that

[2018-04-20 19:18] artemanufrij commented on #69
Hm...ok... let me test it more intensive. I will push a new release in next few days

[2018-04-23 17:34] bgcarlisle commented on #69
Works perfectly now! Thanks so much! :D

[2018-04-23 18:02] artemanufrij commented on #69
@bgcarlisle you are welcome

[2018-04-23 18:02] #69 closed

[2018-05-08 12:54] peterrobertz opened #70 "Chrome Extensions"
Hello there,
is it possible to use chrome extensions inside a webpin container?

Thx

[2018-07-11 18:21] DubininDmitry commented on #57
Hi. When can you fix it?

[2018-07-23 15:58] soham2008xyz commented on #62
@artemanufrij What is the issue you are facing on eOS Loki?

[2018-07-23 17:14] artemanufrij commented on #62
It uses old webkit version

[2018-08-03 04:58] elogicuk opened #71 "notifications not working"
made a webpin for https://www.fastmail.com

sent an email from my gmail to my fastmail

i did not get any type of notification

[2018-08-30 16:35] electricduck commented on #70
Webpin does not use Chrome underneath, not is it powered by Blink. Just using a standard WebKit widget.

[2018-08-30 19:02] #70 closed

[2018-09-19 00:21] giovannicaligaris opened #73 "Support local files"
Is there a way to create a webapp from my own local index.html file?

[2018-09-19 00:24] junocomp opened #74 "Independent apps"
This is a request

Make each webapp independent from Webpin. If webpin is uninstalled, then none of the webapps work anymore.

[2018-09-19 14:03] artemanufrij commented on #73
it's a good point... I will implement it!

[2018-09-19 14:04] giovannicaligaris commented on #73
Awesome

[2018-09-19 18:16] artemanufrij commented on #73
@giovannicaligaris could you test it, please?

location like: `file:///path/to/my/index.html`

![bildschirmfoto von 2018-09-19 20 14 49](https://user-images.githubusercontent.com/16517095/45772742-d874ca80-bc48-11e8-8f82-149a563ed93a.png)

[2018-09-20 07:33] giovannicaligaris commented on #73
I am trying to build webpin but I am getting an error.

[code]

I'm on Juno if that makes a difference.

All of the dependencies are installed.

[2018-09-20 07:40] artemanufrij commented on #73
@giovannicaligaris I will check it on my VM tonight. I tested it only on Loki

[2018-09-24 06:07] visvital opened #75 "Ability to create a web-app for the installed browser"
As long as, webpin only allows to run websites and apps which are properly supported by WebKit, as a user, I would like to be able to create the web apps for my list of installed browsers using the webpin.

That would allow me to control and customize the web app I'm creating, as well as to avoid the problem with their improper display.

[2018-09-24 06:10] visvital opened #76 "Tabbed web-apps"
As a user, who has multiple web apps for communications, like Rocket.Chat, Skype, HipChat, I would like to be able to create a Messengers web app, which would provide me the access to all my chats in tabs.

So, for example, I can create a new container for all my 3 web apps, which will allow me to see the tabs. This approach is used in Rambox, which is very convenient but not as functional.

[2018-09-24 15:32] giovannicaligaris commented on #73
@artemanufrij did you test it yet?

[2018-09-24 15:42] artemanufrij commented on #73
@giovannicaligaris yes, same issue here... I will port webpin to meson. It's much easier to compile etc.

[2018-09-30 09:30] DanyGee opened #77 "Photopea.com loosing canvas as webpin app"
Pinned photopea.com as webpin app.
All loads OK, but after loading image in it or starting new project the canvas disappears every time I wan't to interact with it :sob:
The same photopea.com pinned as a webapp through Google Chrome works without any issues :1st_place_medal:

[2018-10-11 16:46] giovannicaligaris commented on #73
Any progress on this?

[2018-10-11 16:47] giovannicaligaris opened #78 "Browser buttons"
This is just a wish.

When setting up your new webpin, to have the option to have browser buttons such as back/forward and reload.

[2018-10-11 17:12] artemanufrij commented on #78
@giovannicaligaris it has some hotkeys for this behavior:
F5 / Ctrl+F5 for reload
Alt+Left/Right for navigation back and forward

[2018-10-11 17:15] artemanufrij commented on #73
@giovannicaligaris Give me few days. I have a huge project I have to finished next 1/2 weeks. I let you know when you can test it :smile:

[2018-10-11 20:13] artemanufrij commented on #73
@giovannicaligaris I moved the project to meson. You could test it now

[2018-10-11 20:15] giovannicaligaris commented on #73
That was fast. I'll test it soon.

[2018-10-11 22:19] giovannicaligaris commented on #73
Works.

![screenshot from 2018-10-11 23 18 43](https://user-images.githubusercontent.com/26255347/46837136-0b276400-cdac-11e8-986b-ea0064ceb217.png)

You should add a note somewhere on how to add a local file.

[2018-10-19 20:40] appcenter[bot] opened #79 "Appstream tests fail"
AppCenter ran a bunch of tests on your appstream file. These are the results.

## Warnings:
Most of these are fixed during the building process, but you should ensure they
are fixed in your code for future releases.
  - "id" field should be "com.github.artemanufrij.webpin"

### For more information, see:
- [The AppStream Quickstart Guide](https://www.freedesktop.org/software/appstream/docs/chap-Qu

[2018-10-20 19:05] artemanufrij commented on #73
new version war released

[2018-10-20 19:05] #73 closed

[2018-10-24 08:02] DanyGee commented on #77
Opened a bug report also @ Epiphany:
https://gitlab.gnome.org/GNOME/epiphany/issues/564
Lets not close the issue here yet, untill we have some clue on which side the problem really lies...

[2018-10-26 17:40] #79 closed

[2018-10-26 17:42] artemanufrij commented on #78
something like this?
![screenshot von 2018-10-26 19 41 08](https://user-images.githubusercontent.com/16517095/47583268-39ce3e80-d957-11e8-88e5-6748d10a2f78.png)

[2018-10-26 17:49] #78 closed

[2018-10-29 21:43] jlnr opened #80 "Cannot use custom icon for trello.com"
I've created an app for Trello, but the default icon looks really bad in the dock (huge black favicon).

Then I've deleted the app and created a new one, but my PNG icon is always overridden by the black favicon.

The PNG file does not seem to be the issue, because I just tried creating an app for another domain with this icon, and it worked.

[2018-10-30 19:03] artemanufrij commented on #80
hey @jlnr what happens, if you edit the app and change the icon?

[2018-10-30 19:15] jlnr commented on #80
Ah, I didn't notice that option. It works when I change the icon after the fact.

By the way, is it my responsibility to keep the PNG files around after create the web app? I had moved  them to the trash and now my web app in the dock has an empty placeholder icon.

[2018-10-30 19:20] artemanufrij commented on #80
If you choose an icon, the app saves just the path. It doesn't copy it to an other place.

PS: I fixed this issue

[2018-10-30 19:20] #80 closed

[2018-10-30 19:40] artemanufrij commented on #80
@jlnr feel free to open an issue. I will fix it...

[2018-10-30 19:51] jlnr opened #81 "Save custom icons so the user doesn't have to"
From
https://github.com/artemanufrij/webpin/issues/80#issuecomment-434433591:

Right now the user is responsible for keeping custom icon files around. It would be more convenient if Webpin could create a copy of these files.

[2018-11-02 22:02] cassidyjames opened #82 "Make extra controls optional"
A lot of well-designed web apps work well without having extra chrome like back, forward, home, reload, and copy URL buttons. It might be useful to have a "minimal UI" toggle or something when creating/editing a web app to hide those controls for a more integrated look.

[2018-11-02 22:05] cassidyjames opened #83 "Offer suggested web apps"
It could be interesting to offer up some suggested web apps out of the box as examples so users can see the types of sites they can use with WebPin. For example, Android Messages, Bitwarden, Instagram, etc. could all be one-click adds.

[2018-11-02 22:12] cassidyjames opened #84 "Higher-contrast foreground colors"
When setting a custom color, it's probably best to use a fully white or black foreground color in the headerbar to ensure maximum contrast.

[2018-11-03 14:41] artemanufrij commented on #82
Added new option
![screenshot von 2018-11-03 15 41 16](https://user-images.githubusercontent.com/16517095/47953502-ea06fd00-df7e-11e8-9e21-3b270fbda9a6.png)

[2018-11-03 14:42] #82 closed

[2018-11-03 16:11] artemanufrij commented on #47
can't reproduce it (on loki) anymore

[2018-11-03 16:11] #47 closed

[2018-11-04 21:47] cassidyjames commented on #84
@artemanufrij it looks like this is setting the primary color and light/dark style correctly and tends to work alright. But I would suggest also setting the foreground color of text/icons in the headerbar, i.e. in CSS. The default Granite utility only sets the headerbar color but leaves the foreground color a lower-contrast gray.

[2018-11-10 05:17] dinusuresh commented on #41
I confirm this issue still persists. Though clicking on the click does not open the link in the external browser, `right click -> open link` works.

[2018-11-15 02:15] lerker100 opened #85 "settings not setting"
In the settings menu if I click the Save login information button and save the web app everything looks fine.  Then I close the webpin settings menu and reopen it reverts back to unchecked and the same thing happens for the save cookies button.

[2018-11-16 20:21] artemanufrij commented on #81
hey @jlnr could you test current master branch?

[2018-11-17 14:15] jlnr commented on #81
Seems to work: I've trashed the icon file, rebooted the machine, and the pinned site still has its dock icon. Thanks!

[2018-11-17 14:15] #81 closed

[2018-12-13 16:36] kkinder opened #86 "Notification just pings over and over again"
I'm noticing that for WhatsApp web (web.whatsapp.com), when you receive a notification from the app, it makes a dinging sound that just repeats over and over until you close Webpin. Which, frankly, is kind of a bummer. Haha.

Anyway, otherwise, nice work.

[2019-01-24 20:40] NathanBnm opened #89 "Add appdata to be translated"
Translating `appdata.xml` file will help people to know about your app in the AppCenter. For example mostly French users won't download the app if it's description is in English, 'cause they will think that the app isn't translated and won't take time to read if its not translated.

[2019-02-07 01:22] rafifos opened #91 "Support for DevHub (and other apps with External Authentication)"
[DevHub](https://devhubapp.com) is like TweetDeck, but for GitHub.

DevHub only uses an External Authentication (redirects it to github), and WebPin doesn't allow redirections, is there any possibility to allow this on a per-app basis? (on it's Edit/Creation Page)

[2019-02-15 18:56] dastorm commented on #86
The issue is happening to me as well. And I can't seem to disable it (I've turned off sound on all notifications but this one still manages to ring anyway)

[2019-02-17 16:34] dastorm commented on #86
So, after some digging I found a workaround. You have to disable sound for notifications from the whatsapp web settings (3 dots-->settings--->notifications--->uncheck sound). Doing this removes the constant pinging.

[2019-02-28 13:25] Hedronmx opened #92 "Add Control + R to reload app"
This would help when running apps on minimal ui to refresh the url when things go bad.

[2019-03-01 22:09] cassidyjames opened #93 "Enable Media Source Extensions"
Enables up to 4K on YouTube, fixes Twitch, and probably a lot more audio/video sites.

[2019-03-18 14:02] caiohofbauer opened #96 "The apps I tried doesn't work"
So I've tried some apps:
Whatsapp, Evernote, Todoist and Deezer.

But it doesn't work. Deezer doesn't play any song. WhatsApp doesn't show the QR code to connect. Evernote ui doesn't respond. Todoist crashes.

I don't know why it happens. But all of these apps do work on Firefox and Chrome. Maybe this could be fixed by allowing webpin to run on Firefox?

[2019-03-18 14:03] caiohofbauer commented on #75
Yes, I would like that, since the web apps I use doesn't work on WebPin. I would like to run them on Firefox.

[2019-03-30 07:46] shawn1thompson commented on #46
Same here, with Netflix at least; it wants to load the Silverlight plugin.

[2019-04-04 22:09] cassidyjames opened #97 "Ctrl+Q to quit"
For webapps that are set to continue running in the background, it could be handy to still be able to completely quit the app. The immediate thought I have is to use Ctrl+Q to completely quit and prevent it from running in the background.

[2019-04-10 12:34] sempasha opened #98 "OAuth authentication requires new window"
Most of web application requires authentication. Some of them supports autorization using google, twitter or some other account using OAuth. Such authentication type commonly requires browser to open popup window where you should enter your account (google, twitter and so on). Pinned application opens popups in system browser, so there is consequence - unable to use such authentication mechanism.

[2019-04-11 12:14] sempasha opened #99 "AdBlock"
Some of web sites we use as pinned applications has annoying ads. Some of us prefer to block it. Firefox has numerous extensions to block ads, Epiphany also has build in ad blocker. Would be nice webpin could block ads too.

[2019-04-11 13:46] sempasha commented on #96
Whatsapp running without any issues in my case. So you better to get more details about crash in application log.

[2019-04-11 13:48] sempasha commented on #92
Try F5 to reload web page.

[2019-04-11 13:49] sempasha commented on #98
Related with #91

[2019-04-12 00:49] Hedronmx commented on #92
Never thought of that... Thanks!

[2019-04-12 00:49] #92 closed

[2019-04-12 20:25] sempasha opened #100 "Custon notification settings"
Since webapp .desktop file contains `X-GNOME-UsesNotifications=true` you can set custom notification settings for each of applications.
![image](https://user-images.githubusercontent.com/1610465/56062670-9f3bad80-5d86-11e9-9a09-899e098e8aa3.png)
But it doesn't work because of mismatch between notification `desktop-entry` tag and application .desktop file name.

My case:

  1. I have a Google Play

[2019-04-15 20:59] muabyildiz opened #101 "Unacceptable TLS certificate error with https"
Can't add https url like that...

esxi web panel examples
https://999.999.9.9/ui

centos web panel examples
https://999.999.9.9:2087
https://any_domain_that_links_to_panel.com:2087

[2019-04-18 09:50] NathanBnm commented on #41
@artemanufrij Google Inbox has been shut down by Google, maybe this is outdated now, unless they were speaking of Gmail Inbox idk.

[2019-04-18 09:52] NathanBnm commented on #85
Yes, and when you want to make some change on an app, the "Save" button can't be pressed, so you can't modify any app, you're forced to delete and recreate it.

[2019-04-18 10:08] NathanBnm opened #103 "Fix Warnings"
You should take a look on this, some features you're using are deprecated:
[code]

[2019-04-18 11:44] NathanBnm opened #104 "Add missing icon sizes"
16x16, 24x24 and 128x128 icons are missing

[2019-04-18 12:47] lerker100 commented on #85
Yes

[2019-05-20 01:08] Schyken opened #105 "Webpin Causes System Crash Loading Some Websites"
I've recently discovered that creating a Webpin of some sites (specifically https://messages.google.com) causes the entire system to hang and requires a hard-reboot.

Running elementary OS 5.0 Juno

Additional system info:
[code]

[2019-05-22 14:14] uncertainquark opened #106 "Open system icon viewer for icon select option"
Instead of having to have an icon and selecting it in the icon selector, it'd be better to open an icon viewer which displays icons available on the system.

[2019-05-23 22:41] Hedronmx opened #107 "Webapp created wont load"
Its been a week or so that my webapps are not loading. They just get stuck at the icon screen.

Anyway I can debug this?

[2019-05-30 20:17] mauricio-fidalgo opened #108 "Allow multiple webpins on the same website with different windows"
I want to be able to use 2 webpins on the same website simultaneously for example, i want to be able to access two different windows for two separate gmail accounts.

[2019-06-04 12:24] sempasha commented on #107
First, try to look at system log `tail -f /var/log/syslog` or `dmesg -T`.

[2019-06-10 15:58] artistro08 opened #109 "Ability for Notifications to open app if running in background"
The title says it all. Is this possible? i've never dove into code before and would love to implement myself (and for the community) if you have a fix already

[2019-06-11 15:56] HansCronau opened #110 "All Web Apps partially reset"
From time to time (in the order of once in a few months) all my Web Apps reset their icons and checkboxes (cookies, login, run in background, minimal ui). What does remain is their name, url, and colour.

As of yet it is unknown to me what triggers this, but since it has happened at least three times now I think it disrupting enough to report.

I am curious to know if there's others experiencing t

[2019-06-20 19:27] seekr opened #111 "login links open in browser not webpin"
I'm trying to login to gmail from webpin window but it opens the login page in browser and does not go back to webpin to conclude the login.

I installed webpin from AppCenter

[2019-06-27 19:43] jlnr commented on #83
...Trello, WhatsApp, Pinboard.in, ValaDoc... :)

[2019-06-27 19:46] jlnr opened #112 "Ability to define hotkeys"
One feature that I like about Trello for Mac is that I can toggle its visibility with cmd+alt+T.

This feature could also be interesting for reference sites such as ValaDoc. (I'm still looking for a good replacement for Dash on macOS =/)

[2019-07-15 15:18] #93 closed

[2019-07-16 17:37] #97 closed

[2019-07-18 17:54] #89 closed

[2019-07-19 19:08] HansCronau commented on #110
I've identified the trigger: this happens when I run a BleachBit cleanup. This means Webpin itself is not the cause.
It does make me wonder how Webpin saves its data. Apparently it's on BleachBit's radar as something of a more temporary nature.

[2019-07-25 14:58] eltondecerqueira opened #113 "App crashes when opening any video"
App crashes when opening any video. This error was detected on Twitter, as soon as in the time line some video appears, the system hangs and nothing else can be done, just restart.
I already installed all the codecs that would be needed to play most of the videos, but nothing worked.
What do you need to do?

[2019-08-08 19:35] giovannicaligaris commented on #111
I'm having a similar issue. If I need to login to a website using my google account, it will open on a different browser.

Maybe it can have a similar solution to Nativefier, which forces all windows to open from within the same browser.

[2019-09-20 12:26] vadbars opened #114 "Don't work for Ubuntu 19.04"
Don't work for Ubuntu 19.04 ((

[2019-09-22 17:42] rauldipeas opened #115 "Webpin quit when I press "0" key"
When I press **0** key, application close, _unexpectly_.

I`m building Debian package by myself.

[2019-10-01 14:36] matfantinel commented on #107
Were you able to solve this issue? I am having it now.

I've noticed that Epiphany itself is not loading the websites. Besides Twitter, which loads (but doesn't load images or posts), no website loads on it either. I don't use Epiphany daily, only Firefox and Webpin.

[2019-10-01 15:57] Hedronmx commented on #107
Frankly I don't remember.... but try updating the OS. Sorry that I can't help you

[2019-10-05 16:03] matfantinel commented on #107
Mine was related to problems in my own Wi-Fi... The system was having problems loading some domains apparently, and that only affected WebkitGtk-based browsers (such as WebPin). On Firefox and Chromium it was working normally....

So it's probably not an issue with WebPin, at least on my case.

If you're having the same problem, check if you can ping the websites you wanna open via Terminal, and i

[2019-11-02 11:35] janxkoci commented on #77
It looks like a bug in webkit, as both webpin and epiphany use it as rendering engine (and the other browsers don't).

[2019-11-02 11:38] janxkoci commented on #33
So what you really want is app window being re-open from notification if the window has been closed, right? This doesn't require minimizing.

[2019-11-02 11:49] janxkoci opened #116 "move app data from ~/.cache"
I often clean my `~/.cache` as I have just a small 32GB eMMC disk on my elementary OS netbook. But the app settings of webpin are saved there, namely in `~/.cache/com.github.artemanufrij.webpin/`

Every time I try to regain some disk space (using `com.github.hannesschulze.optimizer`) and clean cache, I loose app icons, window size settings, zoom level, logins, in-app settings (like notifications s

[2019-11-12 20:05] bgcarlisle opened #118 "Webpin crashes when opening external links from Mastodon"
I'm using Webpin for the Mastodon web app, but whenever I click a link in a Mastodon post that opens an external browser, Webpin crashes.

[2019-11-13 18:32] artistro08 opened #119 "Cannot Paste Images from the clipboard"
I cannot paste images in any app from the clipboard.

[2019-11-17 03:32] artistro08 commented on #118
I have this same problem with all external links

[2019-11-23 18:18] pedrofleck opened #120 "Use blink instead of WebKitGTK?"
Is it possible to use Blink (from Chromium) instead of WebKit in the future? Specially because elementary 5.0 uses the older WebKitGTK 2.4.11 (the latest stable is 2.26.2). The reason for this would be stability (I've got a few crashes using both Epiphany and Webpin), speed and, most of all, compatibility: Twitter videos are very buggy and most of the time won't even play, WhatsApp Web (probably t

[2019-11-24 15:27] TeNNoX commented on #85
When I click 'Edit' on an existing app - I see this screen:
![Screenshot from 2019-11-24 15-26-06](https://user-images.githubusercontent.com/2084639/69496873-cd619e00-0ece-11ea-9023-b3c2c5906f95.png)

Note that it says "Create new web app", and the Save button is greyed out. No ability to save changes

[2019-11-24 22:31] TeNNoX commented on #85
I figured out that this is caused by the icon being invalid (which is visually indicated but not obvious why this would cause the Save to be disabled).

I tackled this bug which causes the invalid icon and also improved the UX of invalid fields in this PR:
https://github.com/artemanufrij/webpin/pull/121

[2019-11-28 11:33] janxkoci commented on #9
Strange, for me it shows no such message (btw Safari is *the* webkit browser). Instead it just loads the QR code indefinitely.

[2019-11-28 11:35] janxkoci commented on #119
I suspect this will be a webkit limitation as I cannot paste images from clipboard in Epiphany either.

[2019-11-28 11:36] janxkoci commented on #83
messenger.com, wttr.in, google keep... ;)

[2019-11-28 12:37] janxkoci commented on #19
see my https://github.com/artemanufrij/webpin/issues/9#issuecomment-559457913, and it also works for me in Epiphany (I tried with `snap` version 3.32, I can also try default 3.28 later at home)

[2019-11-28 17:51] janxkoci commented on #9
Here is what I see:

### Webpin
![Snímek z 2019-11-28 18-39-56](https://user-images.githubusercontent.com/19331850/69825380-5f3f1300-120f-11ea-92ad-b2cfa704ca21.png)

### Epiphany 3.28 (default)
![Snímek z 2019-11-28 18-41-00](https://user-images.githubusercontent.com/19331850/69825397-6fef8900-120f-11ea-8fbe-e6cddf1a523e.png)

### Epiphany 3.32 (snap)
![Snímek z 2019-11-28 18-42-17](https://user-

[2019-12-01 07:35] sempasha commented on #120
May be related with #75 (Ability to create a web-app for the installed browser)

[2019-12-01 07:44] sempasha commented on #116
`~/.local` should be the right way to store icons and other persistent application data.

[2019-12-01 17:16] HansCronau commented on #110
Reopening this issue because I've discovered the cause and think it's something Webpin could and should fix:
Webpin stores icons in the ~/.cache folder. This means that this information is lost whenever the cache is cleaned.

[2019-12-04 10:18] janxkoci commented on #9
I've found a bug report for webkit, but I cannot login for some reason: https://bugs.webkit.org/show_bug.cgi?id=203404

[2019-12-09 05:37] saidbakr opened #122 "SoundCloud playing track issue"
I have created webpin for my soundcloud.com account. When I try to play any track, almost only one second of playing track then the downloading indicator is shown up and playing stop.

Also I have similar problem with Facebook too.

I think that due to the web browser that webpin use to encapsulate the URL. In this situation the faulty  **Epiphany**. I have installed Firefox on my system and I set

[2019-12-09 13:40] mcatanzaro commented on #9
Many years ago, I added a user agent quirk to WebKit to make sure Whatsapp always receives a user agent imitating Safari. (Whatsapp has lost the right to receive an accurate user agent from WebKit.) That quirk actually predates your comment here. My guess is that elementary OS was shipping a very old version of WebKit at the time you left your comment. It's also possible that you have manually dis

[2019-12-23 01:12] gabrielzschmitz commented on #122
I am having this SoundCloud problem too.

[2020-01-06 14:10] malpaw commented on #118
Same here. Happens for all websites I use including Messenger, Google Hangouts, Evernote etc.

[2020-01-28 21:58] SiDevesh commented on #62
@artemanufrij can we allow the user to select the user agent while creating the web app ?
Certain apps disallow certain features based in user agent, for example,
Instagram supports direct messages on mobile but not on desktop.
We can add a dropdown or just a toggle to use mobile version in Create new web app dialog.
Let me know if you are interested, would love to help out in implementing this :)

[2020-02-14 09:13] Justinzobel commented on #111
Still an issue.

[2020-02-15 02:23] Justinzobel commented on #111
Output in case it's relevant.

`
justin@justin-desktop: ~
→ $ com.github.artemanufrij.webpin https://mail.google.com/mail/u/0/#inbox

(com.github.artemanufrij.webpin:9770): Gtk-CRITICAL **: 12:52:42.425: gtk_widget_set_sensitive: assertion 'GTK_IS_WIDGET (widget)' failed

(com.github.artemanufrij.webpin:9770): Gtk-CRITICAL **: 12:52:42.425: gtk_widget_set_sensitive: assertion 'GTK_IS_WIDGET (widge

[2020-02-15 10:46] saboarpad commented on #122
+1 SoundCloud problem on elementary OS 5.1.2 Hera
*Also no sound in webapp created from https://www.noisli.com

[2020-02-23 17:15] janxkoci commented on #9
Btw it works for me now:

![Snímek z 2020-02-23 18-14-25](https://user-images.githubusercontent.com/19331850/75116409-5f14af00-5668-11ea-8a8a-033a7c5feb91.png)

I guess some webkit update fixed it.

Consider closing..

[2020-02-23 17:36] mcatanzaro commented on #9
This was fixed in https://trac.webkit.org/changeset/255233/webkit.

[2020-02-23 17:37] mcatanzaro commented on #9
(This was also totally different from the original bug report here, which predates the WebSockets regression by a lot.)

[2020-02-25 01:14] NIXOYE opened #124 "App crashes when clicking login on Apple Music"
I'm trying to make beta.music.apple.com into an app so I don't have to use the website but everytime I click login it closes

[2020-03-09 20:15] janxkoci commented on #120
This is not true, I have 2.26.4 now. Using only default repos.

[2020-03-09 20:28] janxkoci commented on #113
I'm using m.youtube.com just fine. Can you play videos in Epiphany? They share the same backend (WebKitGTK)..

[2020-03-09 20:39] janxkoci commented on #111
Cannot reproduce - https://gmail.com lets me login from within the webpin app window.

[2020-03-10 03:21] Justinzobel commented on #111
https://youtu.be/O8Yz2hzMGOM - Can't upload videos here so posted to YouTube, I can replicate it every time.

[2020-03-10 11:14] janxkoci commented on #111
So I don't get the intro screen, instead I'm shown directly the login screen. In the past it happened that Google was serving different users different version of website, especially login websites, as they run their experiments. Maybe the problem is with Google upstream..

[2020-03-10 22:04] Justinzobel commented on #111
OK I found a hacky workaround, use
https://accounts.google.com/AccountChooser?service=mail&continue=https://mail.google.com/mail/
as
the URL. It just means you have to select your account each time you launch
the App which is not too bad.

It is laggy inside the webapp too for some reason.

On Tue, Mar 10, 2020 at 9:44 PM janxkoci <notifications@github.com> wrote:

[2020-04-03 18:52] RootHouston commented on #110
Just wanted to note that I have this problem as well, and it's seemingly random. After a reboot or sleeping, icons are simply not there. I don't know when elementary OS touches the ~/.cache directory, but it has this effect.

[2020-04-16 08:11] Justinzobel opened #125 "Add LICENSE file"
Please add a LICENSE file to the repository that details the license for redistributing all code in this repository.

[2020-05-12 13:57] AlexDerbenew commented on #47
Issue is relevant today. Detected high CPU usage while using https://harvestapp.com in Webpin
![Снимок экрана от 2020-05-12 16-56-28](https://user-images.githubusercontent.com/39634495/81700624-9299f500-9471-11ea-881f-0d87b2874cc4.png)

[2020-05-14 17:50] cassidyjames commented on #115
I also have this issue using WebPin on an Ubuntu 20.04 focal base.

[2020-05-20 14:46] grmain opened #126 "Browser outdated"
Hi,
I wanted to use Webpin with Deezer (a french alternative to Spotify). I got a red banner from them saying my browser needs to be updated, until then I won't be able to play any song.

[2020-05-25 23:49] marcio5 opened #127 "don't allow to save pics from the apps."
if is possible to save pics from apps (twitter, tumblr, etc). I say because its exist the option in right menu, but no have process when click it.

[2020-06-04 19:17] rauldipeas opened #128 "Window class don't match on DockbarX"
When i launch a webpin app that ain't pin on panel, it doesn't show app icon on DockbarX.

![ksnip_20200604-161436](https://user-images.githubusercontent.com/12108031/83800956-aaceef80-a67e-11ea-9ee5-0a35841f4dd3.png)

[2020-06-29 17:04] cassidyjames commented on #126
That's because Deezer appears to be sniffing the user agent instead of testing capabilities. If Deezer actually tested for capability, then things would likely just work. The only way to work around this is probably being able to set a custom user agent, per web app.

[2020-06-29 17:06] cassidyjames commented on #120
@pedrofleck Blink is not made available as a GTK widget, so it can't be used inside of GTK apps without first writing that integration, then compiling all of Chromium with it. It would be a monumental amount of work. As @janxkoci mentioned, newer WebKit has been backported to Ubuntu 18.04 LTS and thus elementary OS 5.x.

[2020-06-29 22:08] cassidyjames opened #129 "Enable navigation gestures"
WebKitGTK supports two-finger swipes for going back/forward. It would be great to enable these by default in WebPin.

https://github.com/cassidyjames/ephemeral/blob/994593bc70aac1073ae0b1eb5be9ea9b6ffee0a2/src/Widgets/WebView.vala#L34

[2020-06-30 07:43] janxkoci commented on #120
FYI these are the webapps I currently use in Webpin and they all work fine. I only had issues with Facebook Mobile (m.facebook.com) so I create that one in Epiphany instead, where it works well (and having links open as a new tab in the same window is a plus for FB).

![Snímek z 2020-06-30 09-39-45](https://user-images.githubusercontent.com/19331850/86097905-a945eb00-bab5-11ea-9611-95c0b197f69f.pn

[2020-07-02 06:29] pedrofleck commented on #120
Yeah, it really is working fine for quite some time. The only problem is that WhatsApp doesn't support sending voice messages and calls outside of Chrome, but that's not a big deal for me!

[2020-07-02 06:29] #120 closed

[2020-07-03 07:16] janxkoci commented on #120
FIY: WhatsApp web is telling me this should work in Chrome, Firefox and Opera. Note that even Safari (_the_ Webkit browser) doesn't support this.

[2020-07-05 18:42] pedrofleck commented on #120
Yeah, and it keeps a suggestion to install WhatsApp for Mac when there's no conversation open and on my phone it looks like I connected on macOS. But, again, not a big deal and definitely not to blame on WebKit or WebPin.

[2020-08-03 10:52] rajkumaar23 commented on #9
A strange issue I'm facing is that, everytime I reopen WhatsApp webapp, it shows me an alert to "Turn on Desktop Notifications" eventhough I click Turn On everytime.

![image](https://user-images.githubusercontent.com/37476886/89175476-7b1c6500-d5a5-11ea-9c71-54a607d42016.png)

[2020-08-09 21:03] janxkoci commented on #120
That's actually to "blame" on webkit, but that's a long story 😅

[2020-08-19 17:17] pedrofleck commented on #120
What a nightmare, I didn't know it was this bad. Thanks for the link, it was an interesting read.

[2020-08-29 16:39] hpr1999 opened #131 "Display Oddities"
I suppose the following is a problem with the underlying web engine, but I'll still give it a try:

I'm accessing "Mopidy Iris" on my localhost as a music client and while it works fine with vivaldi / brave (probably all chromium browsers for that matter, and also with their install pwa functionality) and looks like this:
![image](https://user-images.githubusercontent.com/26067274/91641689-7624c70

[2020-09-04 16:42] joe733 opened #132 "💡: Need a spell check"
¯\\\_(ツ)\_/¯

[2020-09-16 06:30] manikk opened #133 "Taking too much CPU and RAM"
I am using FocusAtWill to listen to music while working. While the music is playing, too much of resource is taken. Some times the memory utilization going to 1 GB.

[2020-09-24 16:31] notanimposter opened #134 "Option for flat styled windows"
Many web apps have colored toolbars at the top of the page. It would look much nicer if, for these sites, there was an option to have the titlebar be "flat" so it blends in with the app. Here is an example of what it looks like now:

![not-flat](https://user-images.githubusercontent.com/1408419/94172935-2a1c4500-fe61-11ea-8266-60443b45e53e.png)

And here is what it could look like if such an optio

[2020-10-06 15:52] MauricioGlz opened #135 "Download notifications"
I understand the reason why this is not by default, but I have some webapps that do need a download feedback, I'm thinking on a little download icon on the headerbar that only shows when a download is triggered, no need for a download dialogue since we already have the "Downloads" folder.

[2020-10-07 13:22] hanaral opened #136 "Crashes when user presses the numeral zero in any part of the app or webapps on elementary OS 6 Daily"
this is pretty jarring

[2020-10-29 05:48] mkswebdev opened #137 "Webpin and icloud.com"
Site https://www.icloud.com/ does not work in webpin. After authorization, nothing can be clicked (open). Is there any solution?

[2020-11-17 13:07] #129 closed

[2020-11-17 17:30] bcrowie opened #139 "Flickering of live mjpeg feed."
I have Home Assistant running, which I would like to use Webpin to create a shortcut for. I have an mjpeg camera added to Home Assistant and when displayed in Webpin it flickers constantly. This doesnt happen in any other browser.

Is there any setting I might be able to adjust?

[2020-11-17 22:00] artemanufrij commented on #139
Hey @bcrowie , I could try to enable this property:
https://valadoc.org/webkit2gtk-4.0/WebKit.Settings.enable_frame_flattening.html

could you test it?

[2020-11-17 22:02] #136 closed

[2020-11-24 12:47] Raphty opened #140 "Apple Music error: "undefined is not an object (evaluating 'this._session.isFairplay')""
I was able to login (and it saves the state) but when I try to play a song, it shows this error:

undefined is not an object (evaluating 'this._session.isFairplay')

[2020-11-29 19:54] sempasha commented on #100
At [GNOME Goal: Notification Sources](https://wiki.gnome.org/Initiatives/GnomeGoals/NotificationSource) said

So pantheon notifications widged do its job exactly as it should.

In my view gnome goal sheets miss one thing - `<desktop-entry>.desktop` should allow not only to make a statement, that application supports notifications, but also to specify identifier which application will use for notif

[2021-04-07 08:34] Idan-A opened #142 "create automatically icon and name from url"
I installed webpin and tried it with youtube.
but I had to download an icon and write the name myself.
you could use as an icon the favicon of the site concerned and the name from the title tag or from the url itself

[2021-07-07 21:15] danrabbit opened #143 "Package as Flatpak for elementary OS 6"
As you might have heard, AppCenter is going Flatpak! For elementary OS 6, we will not longer be accepting Debian packaging, so your app will need to be updated.

We have documentation on our developer guide for writing your Flatpak manifest here: https://docs.elementary.io/develop/writing-apps/our-first-app/packaging#flatpak-manifest

Also, in case you missed it, elementary OS 6 beta 2 is [now ava

[2021-07-23 18:22] danrabbit opened #144 "Add your stripe key to appdata"
In the new version of AppCenter Dashboard, we're no longer modifying your appdata before publishing, so you'll need to add your stripe key to appdata.xml to continue to monetize your app in elementary OS 6

For your convenience, your public stripe key is:
`<value key="x-appcenter-stripe">pk_live_XigGwGSjE9nAOVZEYNAKBdXU</value>`

[2021-07-27 17:32] cedewey commented on #111
I'm running into the same problem with https://pomodor.app/timer

[2021-07-27 18:20] janxkoci commented on #111
Yeah and I cannot login to Pocket with my Google account, as it opens the google login site in a browser. :confused:

[2021-07-28 14:57] cedewey commented on #71
I am not receiving notifications at all for https://pomodor.app/timer

[2021-08-11 09:17] janxkoci commented on #142
I noticed the icon is downloaded for some sites but not for others.

For example Trello icon was set automatically, while Slack or Messenger I had to download and set myself.

[2021-08-11 09:21] janxkoci commented on #139
FYI webpin is based on webkit, so testing with webkit browsers like Epiphany or Ephemeral would be better than e.g. Chrome or Firefox.

[2021-08-11 09:24] janxkoci commented on #133
Can you test with a webkit browser (e.g. Epiphany or Ephemeral)? The issue could be in the webkit rendering engine and not in Webpin itself.

[2021-12-12 19:35] aliceemanueli opened #146 "ElementaryOS"
Good morning!  This app is not available in the ElementaryOS App Store... Please bring it to ElementaryOS.  Why do we miss it!

[2022-01-01 19:25] iguys commented on #143
Please make a flatpak app for Elementary OS 6 , we are really missing this app in the app store. Thanks

[2022-01-01 19:27] iguys opened #147 "Please make a flatpak app for Elementary OS 6"
Please make a flatpak app for Elementary OS 6 , we are really missing this app in the appstore

[2022-01-08 19:08] dcowan-london commented on #125
This project is licensed as GNU LGPL2 or later (as seen at the top of source files). There should still be a LICENSE file, though.

[2022-01-09 19:41] dcowan-london commented on #143
I've been trying to get WebPin working in a FlatPak for the past few days.

See https://github.com/artemanufrij/webpin/pull/145.

I think it's best for me to move to this issue.

I currently have two issues:
1) WebPin keeps track of apps by getting the full list of installed apps (`GLib.AppInfo.get_all ()` - https://github.com/artemanufrij/webpin/blob/master/src/Services/DesktopFilesManager.vala#L

[2022-02-15 21:48] dcowan-london commented on #143
As far as two, above, I've put a bash script which just echos "flatpak" in /app/bin/flatpak (in the container). Everything now works flawlessly. Probably not the "correct" method, but it works.

[2022-02-17 17:21] dcowan-london commented on #143
I've pushed what I have so far to https://github.com/dcowan-london/webpin/tree/flatpak.

[2022-02-17 17:26] dcowan-london commented on #143
When testing on another device, I got this error when I attempted to start a webapp:

[code]

This error repeats on every attempted reload.

[2022-02-17 17:36] dcowan-london commented on #143
Well, after updating to SDK version 6.1 (from 6), this error is gone

[2022-02-17 17:48] dcowan-london commented on #143
I now have a working build at https://github.com/dcowan-london/webpin/tree/flatpak

Note that currently the file picker dialogue doesn't have access to the filesystem, and so there's no way to set an app icon from with the filepicker. My next step is to integrate the filepicker portal.

[2022-02-17 17:54] dcowan-london commented on #143
I've temporarily allowed access to `xdg-pictures/webpin`, to allow testing until the portal is integrated.
https://github.com/dcowan-london/webpin/commit/3e3379187b1cbd5f1896b2e11c5fe7709890d2e4

[2022-02-17 17:59] dcowan-london commented on #147
@iguys I'm currently working on updating WebPin for eOS6.

You can follow the instructions [here](https://github.com/dcowan-london/webpin/tree/flatpak#with-flatpak) to test my current version.

At the third stage (`git clone`), use this instead:
[code]

You can see my updates at #143

[2022-02-17 18:01] dcowan-london commented on #146
@aliceemanueli  I'm currently working on updating WebPin for eOS6.

You can follow the instructions [here](https://github.com/dcowan-london/webpin/tree/flatpak#with-flatpak) to test my current version.

At the third stage (`git clone`), use this instead:
[code]

You can see my updates at #143

[2022-02-21 02:03] iguys commented on #147
Getting this error while builder the flatpak : flatpak-builder build com.github.artemanufrij.webpin.yml --user --install --force-clean
error: io.elementary.Sdk/x86_64/6.1 not installed
Failed to init: Unable to find sdk io.elementary.Sdk version 6.1

[2022-02-21 02:13] iguys commented on #147
Trying to build flatpak but getting this error : flatpak-builder build com.github.artemanufrij.webpin.yml --user --install --force-clean
error: io.elementary.Sdk/x86_64/6.1 not installed
Failed to init: Unable to find sdk io.elementary.Sdk version 6.1

I also tried to install elementary SDK
Getting Error : sudo apt install elementary-sdk
Reading package lists... Done
Building dependency tree
Readi

[2022-02-21 10:44] dcowan-london commented on #147
Are you running the latest version of elementary? What's the output of `lsb_release -a`?

Try a `sudo apt update && sudo apt upgrade`, then try installing the SDK again.

[2022-02-23 19:36] dcowan-london commented on #143
Well, that was pretty simple! Switched to ```FileChooserNative``` - tested and working. https://github.com/dcowan-london/webpin/commit/e8f250165b4c65fb0027554e0fb91de24937812e

[2022-02-24 18:19] dcowan-london commented on #147
@iguys Did that work?

[2022-02-24 19:03] dcowan-london commented on #143
OK, issue I'm having now is downloads. When downloading something from a pinned website, it attempts to go directly into the `xdg-download` directory. I could give `rw` access to the downloads folder, but I'd prefer to avoid that if possible.

Hoping I can somehow allow just writing new files to a directory without giving read/modify access.

[2022-02-24 19:41] dcowan-london commented on #147
@iguys Turns out you don't actually need to install `elementary-sdk` - just go from the Flatpak heading on the "Install elementaryOS developer enviroment" page

[2022-02-24 23:02] iguys commented on #147
Yes I was on 6.1 but after upgrading latest update, I was able to install elementary-sdk this morning. But after installing sdk my system was broken and I restored it by running my latest timeshift snapshot. Now I also think that it is not good idea to install the elementary-sdk. I will try using your suggested method without installing sdk very soon. Thanks

[2022-06-19 17:57] dcowan-london commented on #143
So it turns out that WebKit, by default, tries to save downloads to `xdg-download`, but there's an API (`WebKit.WebContext.download_started ()`) which lets you capture a [`WebKit.Download` object](https://valadoc.org/webkit2gtk-4.0/WebKit.Download.html) and redirect the download ([`WebKit.Download.set_destination ()`](https://valadoc.org/webkit2gtk-4.0/WebKit.Download.set_destination.html)).

I've

[2022-07-04 08:15] jtrees commented on #143
@dcowan-london Just wanted to say thanks for tackling this. I look forward to seeing this come to fruition.